<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJ8LpvK3i7S_QC9YZp4OxRzqNoyZ4uGG0</string>
	<key>GCM_SENDER_ID</key>
	<string>771533699007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yestracker.driversapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>yes-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>yes-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771533699007:ios:3e0404469e901dd82e130a</string>
</dict>
</plist>